<%- layout('layouts/main.ejs') %>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="Insert password">

    <button type="submit">
        Sing up
    </button>

</form>